

<section class="{{ section.class }}">
  <h1>{{ section.settings.title }}</h1>
</section>

{% schema %}
{
  "name": "My First Section",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "presets": [
    {
      "name": "My First Section",
      "settings": {
        "title": "First Section"
      }
    }
  ]
}
{% endschema %}
